# Go build files
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Go workspace files
bin/
obj/

# Dependencies
vendor/

# Logs
*.log

# IDE files
.vscode/
.idea/

# Windows
Thumbs.db
Desktop.ini

# Environment files
.env
.env.local
.env.prod
.env.*.local

# MacOS
.DS_Store


# Build folders
dist/
build/


firebase-adminsdk.json